body {

    color: #000000;
    background-color: rgb(145, 175, 215);
  }
 
 .tag {
     font-family: Sans-serif; 
    }  

.jumbotron {
    background-image: url("images/bacteria.jpg");
    background-size: 100% 100%;
    text-align: center;
  }

